{% extends "admin/base_admin.html" %}
{% block admin_content %}
<h1 class="page-title">Панель управления</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Товары</h5>
            <h2>{{ products_count }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Заказы</h5>
            <h2>{{ orders_count }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Пользователи</h5>
            <h2>{{ users_count }}</h2>
        </div>
    </div>
</div>
{% endblock %}